<nav>
    <div>
        <a href="/">Blog for kolo</a>
        <p>A blog about kolo</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blogs</a></li>
    </ul>
</nav>
 