<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <h1>About PAGE</h1>


    <%- include('./partials/nav.ejs') %>

    <div>
        <h2>About kolo's</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor minima, fuga error magnam voluptatem iusto omnis natus porro ratione eligendi nemo, totam eos sed id, beatae quae ea ex eum!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque reiciendis asperiores tempore ipsam, temporibus deserunt magnam sit id autem error quibusdam quaerat eaque hic delectus. Porro aliquam dolorum esse id!</p>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi praesentium aliquid dolorum ducimus ex adipisci nostrum similique, aperiam consequuntur vero optio, obcaecati unde illo accusantium porro numquam mollitia nam libero? </p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>